<h4>These players are going on the mission:</h4>
<ul>
{{#each model.currentNomination.players }}
<li>user: {{ user.id }}</li>
{{/each}}
</ul>
{{#if currentPlayer.isElected }}
<p>select success of fail!</p>
<button class="btn btn-success" {{action "success" }}>Success</button>
<button class="btn btn-danger" {{action "fail" }}>Fail</button>
{{else}}
<p>Waiting for result...</p>
{{/if}}
