<div class=nomination-area">
	<div class="game-active-header">
		Select players to nominate
	</div>
	<div class="nominations-list">
	<ul>
	{{#each model.game.players}}
	  <li {{bind-attr class="nominated:active"}} {{action "select" this}}>
		{{ name }}
	  </li>
	{{/each}}
	</ul>
	</div>
	<div class="nomination-submit">
		<button {{action "nominate"}} class="btn btn-primary">Nominate</button>
	</div>
</div>
