<div class=nomination-area">
	<div class="nominations-list">
	<ul>
	{{#each model.players}}
	  <li {{bind-attr class="selected:active"}} {{action "select" this}}>
		user: {{ user_id }}
	  </li>
	{{/each}}
	</ul>
	</div>
	<div class="nomination-submit">
		<button {{action "nominate"}} class="btn btn-primary">Nominate</button>
	</div>
</div>
