<div class="col-lg-4 col-lg-offset-4">
  <div class="panel panel-default">
    <div class="panel-body">
      <form role="form" class="form" >
        <legend>Sign in</legend>
        <div class="form-goup">
          <label for="email">Email</label>
          {{input value=email classNames="form-control"}}
        </div>
        <div class="form-goup">
          <label for="password">Password</label>
          {{input type='password' value=password classNames="form-control"}}</p>
        </div>
        <p><button class="btn btn-primary" {{action "signIn"}}>Sign In</button></p>
      </form>
    </div>
  </div>
</div>
