.missions-list {
  list-style-type: none;
}

.missions-list li {
  display: block;
  float: left;
  margin-right: 50px;
  height: 80px;
  width: 80px;
  border: 1px solid black;
  border-radius: 40px;
}

.missions-list li.active {
  border-color: green;
}

.missions-list li > div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  font-size: 1.8em;
}

.player-list {
  list-style-type: none;
  margin-left: 20px;
}

.game-title {
  width: 100%;
  margin:auto;
  text-align: center;
}

.game-active-area {
	clear: both;
}

.game-active-header {
	font-size: 1.4em;
	width: 100%;
	text-align: center;
}

.nominations-list {
  clear: both;
}

.nominations-list ul {
  list-style: none;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.nominations-list ul li {
  position: relative;
  display: block;
  float: left;
  margin-right: 50px;
  margin-bottom: 50px;
  padding: 5px;
  height: 80px;
  width: 80px;
  background-color: #b3c833;
  color: #fff;
}

.nominations-list ul li.active {
  background-color: #428bca;
}

.nominations-list ul li > div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  font-size: 1.8em;
}

.nomination-submit {
	clear: both;
	width: 100%;
	text-align: center;
}
