.missions-area {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.missions-list {
  list-style-type: none;
}

.missions-list li {
  display: block;
  float: left;
  margin-right: 50px;
  margin-bottom: 50px;
  height: 80px;
  width: 80px;
  border-radius: 40px;
  background-color: #DDD;
}

.missions-list li.active {
  box-shadow: 0 0 10px 3px #428bca;
}

.missions-list li.succeded {
  background-image: url('/resistance-icon.jpg');
  background-size: contain;
}

.missions-list li.failed {
  background-image: url('/spies-icon.jpg');
  background-size: contain;
}

.missions-list li > div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  font-size: 1.8em;
}

.nominations-counter {
  list-style-type: none;
}

.nominations-counter li {
  display: block;
  float: left;
  margin-right: 40px;
  height: 50px;
  width: 50px;
  border-radius: 30px;
  background-color: #DDD;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

.nominations-counter li.active {
  background-color: #30033E;
  color: #DDD;
}

.game-board-area .game-board-mid {
  text-align: center;
}

.game-board-area .player-list {
  list-style-type: none;
  padding: 0;
}

.game-board-area .player-list-left {
  float: right
}

.game-board-area .player-list-right {
  float: left
}

.game-board-area .player-list li {
  display: block;
  font-weight: bold;
  /*margin-bottom: 10px;*/
  padding: 5px;
}

.game-board-area .player-list li .selectable {
  box-shadow: 0 0 0 0 #428bca;
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
  pointer-events: none;
}

.game-board-area .player-list li.nominated .selectable {
  box-shadow: 0 0 10px 5px #428bca;
  /*border: 5px solid #428bca;*/
}

.game-board-area .player-list li.current-king .selectable {
  pointer-events: auto;
  cursor: pointer;
}

.game-board-area .player-list li .crown {
  height: 2em;
  width: 2em;
  float: left;
  border-radius: 1em;
  margin-bottom: 0.5em;
  background-color: #333;
  background-image: url('/crown.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  visibility: hidden;
}

.game-board-area .player-list li.king .crown {
  visibility: visible;
}

.game-board-area .player-list li .player-label {
  text-align: center;
  color: #444;
  background-color: #DDDDDD;
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
}

.game-board-area .player-list li.resistance .player-label {
  background-color: #658092;
  color: #000;
}

.game-board-area .player-list li.spy .player-label {
  background-color: #882C29;
  color: #000;
}

.game-board-area .player-list li .current-player-icon {
  height: 2em;
  width: 2em;
  float: right;
  border-radius: 1em;
  margin-bottom: 0.5em;
  background-color: #333;
  color: #428bca;
}

.game-board-area .player-list li .current-player-icon > span {
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  font-size: 1.3em;
}

.game-board-area .player-list li .player-avatar {
  height: 120px;
  width: 100px;
  background-color: #000;
  background-image: url('/anon_avatar.jpg');
  background-size: contain;
  background-position: center;
}

.game-board-area .refresh-votes-button {
  margin-top: 20px;
}

.game-title {
  width: 100%;
  margin:auto;
  text-align: center;
}

.nominations-list ul li > div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  font-size: 1.8em;
}

.nomination-submit {
	clear: both;
	width: 100%;
	text-align: center;
}

.vote-accepted, .vote-rejected {
  font-weight: bold;
}

.vote-accepted:before {
  content: "accepted";
}

.vote-rejected:before {
  content: "rejected";
}

.mission-result-button {
  width: 120px;
  font-size: 1.5em;
  font-weight: bold;
}
